<center><h3>Pandas Fundaments form IIT Nepal</h3></center>
<img src="https://iitnepal.edu.np/wp-content/themes/iit/images/logo-colorful.svg" style="height:100px;width:auto;">
<center><h4>Contact us: 9851161198/9851224985 for different IT professional program in this pandemic throguh online in 50% discount</h4></center>

In [ ]:
import pandas as pd

### Series

In [ ]:
a= pd.Series([4,7,3])

In [ ]:
a.values

In [ ]:
a.index

In [ ]:
x =pd.Series([4,7,3],index=['a','b','c'])

In [ ]:
x['a']

In [ ]:
x[['a','c']]

##### convert the python dict to series

In [ ]:
sdata = {'a':10,'b':30}

In [ ]:
s = pd.Series(sdata)

In [ ]:
s

In [ ]:
df = pd.DataFrame()
print(df)

In [ ]:
data =[1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

In [ ]:
data =[['Alex',10],['Bob',12],['Clarke',23]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

In [ ]:
data =[['Alex',10],['Bob',12],['Clarke',23]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

In [ ]:
data ={'Name':['Alex','Bob','Clarke'],'Age':[10,12,23]}
df = pd.DataFrame(data)
print(df)

In [ ]:
data ={'Name':['Alex','Bob','Clarke'],'Age':[10,12,23]}
df = pd.DataFrame(data,index=['a','b','c'])
print(df)

In [ ]:
data = [{'a':10,'b':20,'c':30},{'a':12,'b':34,'c':23},{'a':33,'b':334,'c':11}]
df = pd.DataFrame(data)
print(df)

#### Creating data from series

In [ ]:
d = {
    'one':pd.Series([1,2,3],index=['a','b','c']),
    'two':pd.Series([1,2,3,4],index=['a','b','c','d'])
}

In [ ]:
df = pd.DataFrame(d)

In [ ]:
df

##### Column

In [ ]:
df['one']

### Column addition

In [ ]:
df['three'] = pd.Series([111,222,333],index=['a','b','c'])

In [ ]:
df

In [ ]:
df['four']=df['one']+df['two']

In [ ]:
df

In [ ]:
del df['one']

In [ ]:
df

In [ ]:
df.pop('four')

In [ ]:
df

<center><h3>Numpy Fundaments form IIT Nepal</h3></center>
<img src="https://iitnepal.edu.np/wp-content/themes/iit/images/logo-colorful.svg" style="height:100px;width:auto;">
<center><h4>Contact us: 9851161198/9851224985 for different IT professional program in this pandemic throguh online in 50% discount</h4></center>

#### addition of rows

In [ ]:
df = pd.DataFrame([[1,2],[3,4]],columns=['a','b'])
df2 = pd.DataFrame([[5,6],[7,8]],columns=['a','b'])

In [ ]:
df = df.append(df2)

In [ ]:
df

In [ ]:
df

In [ ]:
data = [{'a':10,'b':20,'c':30},{'a':12,'b':34,'c':23},{'a':33,'b':334,'c':11}]
df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
df.sum()

In [ ]:
df.sum(axis=1)

In [ ]:
df.mean()

In [ ]:
df.mean(axis=1)

In [ ]:
df.std()

In [ ]:
df.std(axis=1)

In [ ]:
df.describe()